@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    ITS Visoka Skola Strukovnih Studija za Informacione Tehnologije<br />
    Savski Nasip 7, Beograd<br />
</address>

<address>
    <strong>Nikola Soric:</strong>   <a href="mailto:nikola21318@its.edu.rs">nikola21318@its.edu.rs</a><br />
    <strong>Lazar Ilic:</strong> <a href="mailto:lazar33318@its.edu.rs">lazar33318@its.edu.rs</a><br />
    <strong>Nikola Jevric:</strong> <a href="mailto:lazar33318@its.edu.rs">lazar33318@its.edu.rs</a><br />
</address>