@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Laptopovi</h1>
    <p class="lead">This is a college project about computer laptop selling system.<br />Technologies used: MSSQL, C#, ASP.NET</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Nikola Soric</h2>
        <p>
            Nikola Soric 213/18.
        </p>
        <p><a class="btn btn-default" href="https://www.linkedin.com/in/nikola-%C5%A1ori%C4%87-9a2ab31a0/">LinkedIn &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Nikola Jevric</h2>
        <p>Nikola Jevric 540/18 </p>
        <p><a class="btn btn-default" href="https://www.linkedin.com/in/nikolajevric/">LinkedIn &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Lazar Ilic</h2>
        <p>Lazar Ilic 333/18</p>
        <p><a class="btn btn-default" href="https://www.linkedin.com/in/lazar-ili%C4%87-5a4589221/">LinkedIn &raquo;</a></p>
    </div>
</div>